.header {
  width: 100%;

  &__logo {
    @media only screen and (min-width: $desktop) {
      margin:0;
    }
    margin: 18px 0;
  }

  &__content {
    @media only screen and (min-width: $desktop) {
      padding:20px;
    }
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid $lightgrey;
    align-items: center;

    @media only screen and (min-width: $desktop) {
      justify-content: space-between;
    }
  }

  &__brand {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (min-width: $desktop) {
      justify-content: flex-start;
    }
  }
  &__subtext {
    display: none;
    @media only screen and (min-width: $desktop) {
      display: block;
      margin-left: 30px;
      padding: 8px 0 8px 30px;
      border-left: 1px solid $lightgrey;
      color:$darkgrey;
    }
  }
  &__right {
    display: none;
    @media only screen and (min-width: $desktop) {
      display: block;
    }
  }
}
