<div class="progress progress25"></div>
<section class="first">
  <div class="container">
    <div class="container--column">
      <div class="first__info">
        <div class="first__info-step">
          Umówienie wizyty - krok 1 z 4
        </div>
        <div class="first__info-title">
          Umów wizytę i zapłać mniej
        </div>
        <div class="first__info-text">
          Poniżej znajdziesz podsumowanie wybranych przez Ciebie usług oraz ich
          koszt. W każdej chwili możesz dodać nowe usługi oraz zmienić dane.
        </div>
      </div>
      <div class="first__about">
        <div class="first__about-workshop">
          <div class="first__about-workshop--title">
            Wybrany warsztat
          </div>
          <div class="first__about-container--row">
            <div class="first__about-workshop--name">
              <div>Mechanic's Garage Centrum</div>
              <div>Tarnobrzeska 4, Starołęka 61-354 Poznań</div>
            </div>
            <div class="first__about-workshop--change">
              <a href="#home">
                Zmień
              </a>
            </div>
          </div>
        </div>
        <div class="first__about-car">
          <div class="first__about-workshop--title">
            INFORMACJE O AUCIE
          </div>

          <div class="first__about-container--row">
            <div class="first__about-car--name">
              <div>Mazda MX-5</div>
              <div>2.0, 2012</div>
            </div>
            <div class="first__about-car--change">
              <a href="#home">
                Zmień
              </a>
            </div>
          </div>
        </div>
        <div class="first__about-services">
          <div class="first__about-container">
            <div class="first__about-container--row">
              <div class="first__about-services--title">
                Wybrane usługi
              </div>
              <div class="first__about-services--title">
                Śr. cena w ASO
              </div>
              <div class="first__about-services--title">
                Nasza cena
              </div>
            </div>
            <div class="first__about-container--row">
              <div class="first__about-services--name">
                Diagnostyka komputerowa silnika
              </div>
              <div class="first__about-services--oldprice">
                1 400 zł
              </div>
              <div class="first__about-services--newprice">
                1 200 zł
              </div>
            </div>
            <div class="first__about-container--row">
              <div class="first__about-services--name">
                Klimatyzacja - napełnianie
              </div>
              <div class="first__about-services--oldprice">
                600 zł
              </div>
              <div class="first__about-services--newprice">
                300 zł
              </div>
            </div>
          </div>
          <div class="first__about-services--change">
            Dodaj inne usługi
          </div>
          <div class="first__about-services--summary">
            <div class="first__about-container--row">
              <div class="first__about-services--name">Razem:</div>
              <div class="first__about-services--oldprice">2 000 zł</div>
              <div class="first__about-services--newprice">1 500 zł</div>
            </div>
            <div class="first__about-services--saves">
              Dzięki Dobrymechanik.pl oszczędzisz 500 zł (-26%)
            </div>
          </div>
        </div>
      </div>
    </div>

      <a href="#second" class="button button__primary desktop">
        Dalej
      </a>
  </div>
  <div class="container">
    <div class="first__promotion">
      <div class="first__promotion-row">
        <img
          class="first__promotion-row--image"
          src="../img/hand.png"
          alt="Hand"
        />
        <div class="first__promotion-row--text">
          Szybka wycena online oraz konkurencyjne ceny
        </div>
      </div>
      <div class="first__promotion-row">
        <img
          class="first__promotion-row--image"
          src="../img/hand.png"
          alt="Hand"
        />
        <div class="first__promotion-row--text">
          Roczna gwarancja na usługi oraz części
        </div>
      </div>
      <div class="first__promotion-row">
        <img
          class="first__promotion-row--image"
          src="../img/hand.png"
          alt="Hand"
        />
        <div class="first__promotion-row--text">
          Tylko sprawdzone warsztaty polecane przez użytkowników
        </div>
      </div>
    </div>
  </div>
  <a href="#second" class="button button__primary mobile">
    Dalej
  </a>
</section>
