<section class="home">
  <div class="container">
    <div class="home__intro">
      <h1>
        Znaleźliśmy dla Ciebie 13 warsztatów w Warszawie
      </h1>
      <p class="home__intro-text--grey">
        Jeśli chcesz dowiedzieć się, w jakiej odległości od Ciebie znajdują się
        warsztaty, wpisz swój adres w wyszukiwarkę. Przy każdym warsztacie
        wyświetlimy odległość od Twojego miejsca zamieszkania.
      </p>
      <input
        type="text"
        class="text-input text-input--search"
        placeholder="&#xF002; Wpisz swój adres"
        style="font-family:Rubik, FontAwesome"
      />
      <div class="google-map">
        <span class="map"></span><a class="google-map-link" href="#">Mapa</a>
      </div>
    </div>
    <div class="workshop">
      <div class="workshop__item">
        <img class="workshop__item-image" src="./img/1.png" alt="Car1" />
        <div class="workshop__item-info">
          <div class="container--row">
            <div class="container--column">
              <div class="workshop__item-title">
                Mechanic's Garage Centrum
              </div>
              <div class="workshop__item-text">
                3 km od Ciebie
                <span class="address">Tarnobrzeska 4, Starołęka, Warszawa</span>
              </div>
              <div class="workshop__item-star">
                <span class="star"></span> 4.0 (9 opinii)
              </div>
              <div class="workshop__item-more">
                Więcej o warsztacie
              </div>
            </div>

            <div class="container--column">
              <div class="workshop__item-price">
                <div>
                  <span class="text-grey">1400zł</span>
                  <span class="text-red">1000zł</span>
                </div>
                <span class="text-info"
                  ><i class="tooltip fa fa-info-circle"
                    ><span class="tooltiptext"
                      >Warsztat spełnia najwyższe standardy jakości usług. Cena
                      promocyjna przysługuje tylko użytkownikom
                      Dobrymechanik.pl</span
                    ></i
                  >
                  (taniej o 400 zł niż w ASO)</span
                >
              </div>
              <a href="#first" class="button button__primary">
                Umów wizytę
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="workshop">
      <div class="workshop__item">
        <img class="workshop__item-image" src="./img/2.png" alt="Car2" />
        <div class="workshop__item-info">
          <div class="container--row">
            <div class="container--column">
              <div class="workshop__item-title">
                Auto Haus Mechanical Repairs
              </div>
              <div class="workshop__item-text">
                3 km od Ciebie
                <span class="address">Tarnobrzeska 4, Starołęka, Warszawa</span>
              </div>
              <div class="workshop__item-star">
                <span class="star"></span> 4.0 (9 opinii)
              </div>
              <div class="workshop__item-more">
                Więcej o warsztacie
              </div>
            </div>

            <div class="container--column">
              <div class="workshop__item-price">
                <div>
                  <span class="text-grey">1400zł</span>
                  <span class="text-red">1000zł</span>
                </div>
                <span class="text-info"
                  ><i class="tooltip fa fa-info-circle"
                    ><span class="tooltiptext"
                      >Warsztat spełnia najwyższe standardy jakości usług. Cena
                      promocyjna przysługuje tylko użytkownikom
                      Dobrymechanik.pl</span
                    ></i
                  >
                  (taniej o 400 zł niż w ASO)</span
                >
              </div>
              <a href="#first" class="button button__primary">
                Umów wizytę
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="workshop">
      <div class="workshop__item">
        <img class="workshop__item-image" src="./img/3.png" alt="Car3" />
        <div class="workshop__item-info">
          <div class="container--row">
            <div class="container--column">
              <div class="workshop__item-title">
                Grease Monkey Automotive
              </div>
              <div class="workshop__item-text">
                3 km od Ciebie
                <span class="address">Tarnobrzeska 4, Starołęka, Warszawa</span>
              </div>
              <div class="workshop__item-star">
                <span class="star"></span> 4.0 (9 opinii)
              </div>
              <div class="workshop__item-more">
                Więcej o warsztacie
              </div>
            </div>

            <div class="container--column">
              <div class="workshop__item-price">
                <div>
                  <span class="text-grey">1400zł</span>
                  <span class="text-red">1000zł</span>
                </div>
                <span class="text-info"
                  ><span class="tooltip"
                    ><i class="fa fa-info-circle"></i
                    ><span class="tooltiptext"
                      >Warsztat spełnia najwyższe standardy jakości usług. Cena
                      promocyjna przysługuje tylko użytkownikom
                      Dobrymechanik.pl</span
                    ></span
                  >
                  (taniej o 400 zł niż w ASO)</span
                >
              </div>
              <a href="#first" class="button button__primary">
                Umów wizytę
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="google-map--desktop"></div>
</section>
