<div class="progress progress50"></div>
<section class="second">
  <div class="container--frame">
    <div class="second__about">
      <div class="second__about-workshop">
        <div class="second__about-workshop--title">
          Wybrany warsztat
        </div>
        <div class="second__about-container--row">
          <div class="second__about-workshop--name">
            <div>Mechanic's Garage Centrum</div>
            <div>Tarnobrzeska 4, Starołęka 61-354 Poznań</div>
          </div>
          <div class="second__about-workshop--change">
            <a href="#home">
              Zmień
            </a>
          </div>
        </div>
      </div>
      <div class="second__about-car">
        <div class="second__about-workshop--title">
          INFORMACJE O AUCIE
        </div>

        <div class="second__about-container--row">
          <div class="second__about-car--name">
            <div>Mazda MX-5</div>
            <div>2.0, 2012</div>
          </div>
          <div class="second__about-car--change">
            <a href="#home">
              Zmień
            </a>
          </div>
        </div>
      </div>

      <div class="second__about-services">
        <div class="second__about-services--title">
          Wybrane usługi
        </div>
        <div class="second__about-services--name">
          <div class="second__about-container--row">
            <div>Diagnostyka komputerowa silnika</div>
            <div>1 200 zł</div>
          </div>
          <div class="second__about-container--row">
            <div>Klimatyzacja - napełnianie</div>
            <div>300 zł</div>
          </div>
        </div>
        <div class="second__about-services--change">
          <a href="#first">
            Edytuj
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="second__info">
    <div class="second__info-step">
      Umówienie wizyty - krok 2 z 4
    </div>
    <div class="second__info-title">
      Wybierz termin wizyty
    </div>
  </div>

  <div class="second__radio">
    <label class="second__radio-input">
      <div class="second__radio-input-text">
        <div class="second__radio-input-text--title">
          Jak najszybciej (najbliższe 48 godzin)
        </div>
        <div class="second__radio-input-text--par">
          Jeśli wybrany warsztat nie będzie mógł przyjąć Twojego samochodu w
          ciągu 48 godzin, nasz konsultant poszuka dla Ciebie warsztatu
          oferującego usługi na podobnym poziomie oraz w podobnej cenie.
        </div>
      </div>
      <input type="radio" name="date" class="second__radio-input-radio" checked />
      <span class="checkmark"></span>
    </label>
    <label class="second__radio-input">
      <div class="second__radio-input-title">
        Chcę wskazać dostępność w kalendarzu
      </div>
      <input type="radio" name="date" class="second__radio-input-radio" />
      <span class="second__radio-input-radio checkmark"></span>
    </label>
  </div>
  <a href="#third" class="button button__primary mobile">
    Dalej
  </a>
</section>
