.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: $darkgrey;
  color: $white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 95%;
  right:0;
  @media only screen and (min-width: $desktop) {
    right:initial;
    bottom:initial;
    left:15px;

  }
}
.tooltiptext {
  font-size: 12px;
  line-height: 16px;
  padding: 5px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
