a a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
body {
  max-width: $max;
  margin-left: auto;
  margin-right: auto;
}
.desktop {
  display: none !important;
}
@media only screen and (min-width: $desktop) {
  .desktop {
    display: block !important;
  }
  .mobile {
    display: none !important;
  }
}